body{
    background-color: rgb(195, 250, 198);
}
/* chỉnh sửa menu dọc */
.menu1{
    background-color: white;
    height: 100%;
    width: 250px;
    position: fixed;
    left: 300px;
    line-height: 4;
}
/* chỉnh sửa menu 2 */
.menu2{
    position: fixed;
    width: 100%;
    height: 80px;
    top:0;
    z-index: 2;
}
.menu2 ul li{
    display: inline-block;
}
.menu2 ul li a img{
    width: 250px ;
    height: auto;
}

/* chỉnh sửa bảng sản phẩm */
.content{
    background-color: white;
    position: relative;
    width: 1050px;
    height: 1220px;
    left: 570px;
    top:100px;
    z-index:0;
    border-radius: 10px;
}
/* chỉnh sửa sản phẩm */
.aProduct{
    width: 280px;
    height: 380px;
    background-color: rgb(191, 235, 191);
    display: inline-block;
    margin-top: 30px;
    margin-left:50px;
    border-radius: 10px;
}
img{
    width:280px;
    height: 200px;
    border-radius: 10px;
    
}
.text{
    padding: 20px;
}
.name{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 500;
}
.amount{
    display: inline;
}
/* sửa menu 2 */
.menu2 ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color: #017f42;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  } 
  .menu2 ul li{
      position: relative;
  }
  .menu2 ul li.logo{
      left: 250px;
  }
  .menu2 ul li.textput{
      left: 280px;
  }
  .menu2 ul li.login{
      left:1080px;
  }
  .menu2 ul li.gio{
    left:1000px;
}
  .buy{
      width: 100px;
      height: 40px;
      background-color: #4CAF50;
      border: none;
      color: white;
      border-radius: 5px;
  }
  /* sửa giỏ hàng */
  .cart{
    position: absolute;
    left:500px;
    top:200px;
    background-color: rgb(138, 247, 165);
    width: 1000px;
    height: auto;
    z-index: 1;
}
button.x{
    position: absolute;
    right: 0;
    top:0;
    background-color: #8af7a5;
}
/* sửa đăng nhập */
.logIn{
    right: 0px;
    position: fixed;
    top: 70px;
    background-color: rgb(138, 247, 165);
    width: 280px;
    height: 400px;
    border-radius: 5px;
}
div.nhap{
    padding-top: 40px;
    padding-left: 20px;
}
div.nhap form .nut{
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}
/* nut tìm kiếm */
nav.menu2 ul li .buttonSearch{
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    padding: 0;
    margin: 0;
    position: absolute;
    position: relative;
    left: 300px;
}
/* chỉnh sửa giỏ hàng */

table.tableCart th{
    width:180px;
    height:40px;
  background:#017f42;
  
}
div.cart{
   padding-top: 40px; 
}
.aProductCart{
    text-align: center;
}
.aProductCart td #del{
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
}
.aProductCart td img{
    width: 100px;
    height: 60px;
}