/* chỉnh sửa table add product */
#tableAdd table {
    border: 1px #333 solid;
    width: auto;
  }
  
  th, td {
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    width: 200px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    
  }
  div#tableAdd{
    background-color: rgb(182, 238, 238);
    display: none;
    position: absolute;
    left: 40%;
    top:10%;
}
  /* chỉnh sửa table product */
.tableProductClass table{
    position: absolute;
    right: 40px;
    border: 1px #333 solid;
    width: 1600px;
    z-index:-1;
}
/* chỉnh sửa bảng tìm kiếm */
input#showSearch{
  width: 250px;
  position: absolute;
  margin-left: 170px;
  margin-top: -20px;
}
th#search{
  text-align: right;
  position: relative; 
}
#tableSearch{
  background-color: #04AA6D;
  display: none;
  position: absolute;
  right: 40px;
  top:70px;
  width: 190px;
}
#tableSearch table tr td{
  background-color: #04AA6D;
  text-align: center;
}
/* chỉnh sửa nút */
button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  /* chỉnh sửa bảng edit */
  #tableEdit table {
    border: 1px #333 solid;
    width: auto;
  }
  div#tableEdit{
    background-color: rgb(182, 238, 238);
    display: none;
    position: absolute;
    left: 40%;
    top:10%;
}
/*  */
.aProduct td{
  text-align: center;
}

.aProduct .nut{
  padding-left: 100px;
}
/*  */
.tableProductClass{
  width: 1500px;
  margin: 0 auto;
}
/* chỉnh sửa bảng sắp xếp */
div#tableSort{
  background-color: rgb(182, 238, 238);
  display: none;
  position: absolute;
  left: 245px;
  top:170px;
}
/* chỉnh sửa ảnh */
.aProduct td img{
  width: 80px;
  height: 80px;
  padding: 0;
}

/* thanh menu */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}
.menu ul li {
  width: 240px;
  background: rgb(4 170 109);
  display: block;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

.menu a {
  display: block;
}
.menu ul{
  padding: 0;
  margin: 0;
}
.menu ul li:hover {
  background: rgb(109, 221, 109);
}
.menu{
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: rgb(197, 196, 196);
}