/* chỉnh sửa table add product */
#tableAdd table {
    border: 1px #333 solid;
    width: auto;
  }
  
  th, td {
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }
  div#tableAdd{
    background-color: rgb(182, 238, 238);
    display: none;
    position: absolute;
    left: 40%;
    top:10%;
}
  /* chỉnh sửa table product */
.tableProductClass table{
    border: 1px #333 solid;
    width: 100%;
}
/* chỉnh sửa nút */
button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  /* chỉnh sửa bảng edit */
  #tableEdit table {
    border: 1px #333 solid;
    width: auto;
  }
  div#tableEdit{
    background-color: rgb(182, 238, 238);
    display: none;
    position: absolute;
    left: 40%;
    top:10%;
}
/*  */
.aProduct td{
  text-align: center;
}

.aProduct .nut{
  padding-left: 100px;
}
/*  */
.tableProductClass{
  width: 1500px;
  margin: 0 auto;
}
/* chỉnh sửa bảng sắp xếp */
div#tableSort{
  background-color: rgb(182, 238, 238);
  display: none;
  position: absolute;
  left: 79.5%;
  top:8.5%;
}
/* chỉnh sửa ảnh */
.aProduct td img{
  width: 80px;
  height: 80px;
  padding: 0;
}