body{
    background-color: rgb(195, 250, 198);
}
.menu1{
    background-color: white;
    height: 100%;
    width: 250px;
    position: fixed;
    left: 300px;
}
.menu2{
    position: fixed;
    background-color: rgb(82, 173, 82);
    width: 100%;
    height: 80px;

}
.content{
    background-color: white;
    position: relative;
    width: 1050px;
    height: 1220px;
    left: 570px;
    top:100px;
    z-index:-1;
}
table.product, tr{
    border: 1px solid rgb(99, 98, 98);
}
.product tr{
    width: 200px;
    height: 250px;
    background-color: rgb(191, 235, 191);
    display: inline-block;
    margin: 28px;
}